<div class="modular-row bottom quickstart">
    {{ content }}


    {% for button in page.header.buttons %}
    <a class="button{% if button.primary %} primary{% endif %}" href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}

</div>
